body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', Arial;
	background-color: whitesmoke;
}

a {
	text-decoration: none;
}

#main_body {
	/*width: 1000px;*/
	margin-left: auto;
	margin-right: auto;
	/*height: 1000px;*/
}

/* HEADER SECTION */

#top_bar {
	background-color: rgba(19, 158, 219, 6); /* #139EDB; rgba(19, 158, 219, 7)*/ 
	color: white;
	height: 150px;
	font-family: 'Open Sans', Arial;
	text-align: center;

}

#top_bar a {
	color: white;
}


#Name { /* Peter Xu */
	font-family: 'Open Sans', Arial;
	font-size: 343.75%; /*55px;*/
	padding-top: 0.3%;
	margin-bottom: -5px;
}

#quote {
	/*color: #CCCCCC;*/
	/*opacity:0;*/
    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s;*/
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

ul#nav_bar {
	background-color: #139EDB;
	padding: 0%;
	/*height: 30px;*/
}

#nav_bar li {
	/*position: relative;*/
	display: inline-block; 
	text-align: center;
	width: 120px;
	padding: 5px;
	padding-top: 5px;
	border-radius: 2px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

#nav_bar li:hover {
	background-color: red;
}

/* PAGE CONTENT */
#page_content {
	width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 70px;
}

#page_content p {
	font-size: 18px;
	color: black;
	text-align: justify;
}

.page_header {
	/*text-align: center;*/
	margin-top: -1%;
	margin-bottom: -0.5%;
}

#page_content a {
	color: rgba(19, 158, 219, 6);
}

#page_content a:hover {
	color: deepskyblue;
}

#prof_img {
	width: 150px;
	height: 210px;
	margin-right: 2%;
	margin-top: 2%;
	float: left;
}

#prof_img_block {
	float: left;
	margin-left: 0px;
	margin-right: -40px;
	font-size: 13px;
}

#intro {
	margin-left: 170px;
}
